<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      >Programación reactiva - Guillermo Reynoso</a
    >
  </div>
</nav>
<div class="alert alert-sucess" role="alert">
  <p>
    <strong>Consigna</strong> Genera un proyecto que consuma un servicio y que
    el resultado del mismo sea mostrado utilizando el Pipe Async y que permita
    filtrar el resultado utilizando la programación reactiva.
  </p>
  <p>
    <strong> Aspectos a incluir en el entregable:</strong> Utilizar una promise
    y un observable. Obligatorio hacer los OnDestroy de los observables
    utilizados. Servirse de al menos un filtro de los vistos durante la clase
    (pref. map).
  </p>
</div>
<div class="alert alert-warning fade show">
  <p><strong>Pipe Async automatico</strong></p>
  <p class="content display-6">Pipe Async: {{ numbers$ | async }}</p>
</div>

<br />
<div class="alert alert-warning fade show">
  <p><strong>Pipe Async manual</strong></p>
  <p class="content display-6">Suscripcion manual: {{ number }}</p>
</div>
<br />

<div class="alert alert-primary fade show">
  <p><strong>Ejemplos con observables y promesas</strong></p>
</div>
<br />

<div class="alert alert-warning fade show">
  <p><strong>Pipe Async desde observable</strong></p>
  <pre>Cursos: {{ cursos$ | async | json }}</pre>
  <p>
    Agregue un curso para mostrar como el pipe async actualiza el observable
  </p>
  <button type="button" class="btn btn-primary" (click)="agregarCurso()">
    Agregar Curso
  </button>
</div>

<div class="alert alert-warning fade show">
  <p><strong>Pipe Async desde promesa</strong></p>
  <p>{{ promesa | async | json }}</p>
</div>
<div class="alert alert-warning fade show">
  <p><strong>Usando reactive map/filter</strong></p>
  <p>{{ filterMe$ | async | json }}</p>
</div>
